/* Import Pretendard font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* Import all style modules */
@import '../src/styles/variables.css';
@import '../src/styles/base.css';
@import '../src/styles/components.css';
@import '../src/styles/layout.css';
@import '../src/styles/pages.css';
@import '../src/styles/markdown.css';
@import '../src/styles/custom.css';
